#whole-document {
    padding: 20%;
    height:100%;
    background-color: rgb(58, 57, 57);
color: white;
font-family: 'Courier New', Courier, monospace;
}

body {height: 100vh;
}


.input {background-color: orange;
border: none;
}

::placeholder {color: white;}

#opinion {color:white}

.buttons {color: white;
background-color: orange;
border: none;}

